apiVersion: v1
kind: Service
metadata:
 name: backend
spec:
 type: ClusterIP # Internal service (accessed by frontend via cluster DNS)
 selector:
  app: backend
 ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
